*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height:100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
    /* background-color: antiquewhite; */
    align-items: center;
    font-size: 100px;
    position: absolute;
    top: 25%;
}

span {
    color: black;
    margin-right: 10px;
    font-size:27px;
}

.message {
    margin-top: 2px;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    font-size: 30px;
    display: flex;
    width: 100%;
    letter-spacing: 3px;
    word-spacing: 5px;
    /* background-color: brown; */
}

h2 {
    position: absolute;
    bottom: 40%;
    word-spacing: 5px;
}

button {
    width: 50px; 
    height: 30px;
    display: flex;
    border-radius: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 20%;
}

a {
    text-decoration: none;
    color: red;
    font-weight: 700;
}

